# Backend (Spring Boot)
backend/target/
backend/*.class
backend/*.jar
backend/*.war

# Mobile (Flutter)
mobile/**/doc/api/
mobile/**/ios/Flutter/.last_build_id
mobile/**/ios/Flutter/Flutter.framework
mobile/**/ios/Flutter/Flutter.podspec
mobile/**/ios/Flutter/Generated.xcconfig
mobile/**/ios/Flutter/ephemeral/
mobile/**/ios/Runner/GeneratedPluginRegistrant.*
mobile/**/android/.gradle
mobile/**/android/captures/
mobile/**/android/gradlew
mobile/**/android/gradlew.bat
mobile/**/android/local.properties
mobile/**/android/**/gradle-wrapper.jar
mobile/**/android/.gradle
mobile/**/android/captures/
mobile/**/android/key.properties
mobile/**/.dart_tool/
mobile/**/build/

# General
.DS_Store
*.log
.idea/
.vscode/
